
<mat-toolbar *ngIf="ismenurequried" color="primary">
  <button  matTooltip="Home" routerLink="" mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
    <mat-icon>home</mat-icon>
  </button>
    <!-- <a routerLink="" mat-raised-button> <mat-icon>home</mat-icon></a> -->

    <a  matTooltip="User" class="butt" *ngIf="isadminuser" routerLink="/user" mat-raised-button >User</a>
  
    <a  matTooltip="Logout" class="log" routerLink="/login" mat-raised-button >Logout</a>

  <span class="example-spacer"></span>
</mat-toolbar>

<div class="content" role="main" style="width: 100%;display: block;"> 
    <router-outlet></router-outlet>
</div>




