
<!-- <mat-toolbar color="primary">
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
      <mat-icon>menu</mat-icon>
    </button>
    <div>
      <a routerLink="">Home</a>

      <a routerLink="/user" mat-raised-button color="warn">User</a>
    
      <a routerLink="/login">Logout</a>
    </div>
    <span class="example-spacer"></span>
  </mat-toolbar> -->

<div class="content" role="main" style="width: 100%;display: block;"> 
    <router-outlet></router-outlet>
</div>

    <!-- <a routerLink="/user">User</a> -->
    <!-- <button routerLink="/user" mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
      User</button> -->



